@import "tailwindcss";

@theme {
  /* Menggunakan format: --color-[nama]: [value] */
  --color-brand-cyan: #00a3ff;
  --color-brand-orange: #e88607;
  --color-brand-blue: #0057ff;
  --color-brand-dark: #0f172a;
  --color-brand-gray: #64748b;
  --color-brand-light: #f8fafc;

  /* Font Family */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  /* Menambah Keyframes dan Animasi */
  --keyframes-marquee: {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  };
  --animation-marquee: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.mask-gradient {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.label {
  display: block;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #94a3b8;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
}
.input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background: #f8fafc;
  outline: none;
  border: 1px solid transparent;
}
.input:focus {
  background: white;
  border-color: #2563eb;
}
