@import "tailwindcss";

@theme {
  /* Menggunakan format: --color-[nama]: [value] */
  --color-brand-cyan: #00a3ff;
  --color-brand-orange: #e88607;
  --color-brand-blue: #0057ff;
  --color-brand-dark: #0f172a;
  --color-brand-gray: #64748b;
  --color-brand-light: #f8fafc;

  /* Font Family */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}